* {
  margin: 0;
  padding: 0;
}

$border-color: #dddddd;
$background: #eeeeee;
.main-wrap {
  max-width: 510px;
  margin: 50px auto;
  border: 1px solid $border-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 25px;
}
.title {
  background-color: $background;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $border-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.row {
  margin: 20px auto 0;
  width: calc(100% - 52px);
  font-size: 0;
  border-radius: 2px;
  position: relative;
}
.row-mod {
  border: none;
}
input {
  font-size: 15px;
}
input[type=text],
input[type=password],
select {
  width: calc(100% - 35px);
  vertical-align: middle;
  padding: 3px 4px;
  outline: none;
  height: 17px;
  border: 1px solid #dddddd;
  border-left: none;
  position: relative;
  color: black;
}
input[type=checkbox] {
  vertical-align: middle;
  width: auto;
  position: relative;
}
input[type=submit] {
  float: right;
  border: 1px solid $border-color;
  background-color: $background;
  padding: 10px 37px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
select {
  padding: 0 0 0 15px;
  width: calc(100% - 1px);
  height: 21.33px;
  border: 1px solid $border-color;
  position: relative !important;
  color: black !important;
}
.label {
  background: #eeeeee;
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #dddddd;
  position: relative;
  cursor: pointer;
}
.label-mod {
  border: none;
  background: none;
  color: black;
  font-size: 15px;
  width:auto;
  height:auto;
  margin-left: 15px;
}
i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.error {
  font-size: 15px;
  position: absolute;
  width: 100%;
  bottom: -75%;
  left: 0;
  color: red;
}
.error-message  {
  margin-top: 25px;
  color: red;
  text-align: center;
  display: block;
}
input::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}
.companies-wrap {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-child  {
  width: 48.5%;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-bottom: 30px;
  min-height: 290px;
  position: relative;
  h2 {
    background-color: $background;
    font-size: 1em;
    padding-left: 15px;
    line-height: 40px;
    border-bottom: 1px solid $border-color;
  }
}
.cirle  {
  width: 175px;
  height: 175px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 35px auto;
  position: relative;
}
.j-comp-total-count {
  font-size: 24.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.comp-list-box {
  width: calc(100% - 30px);
  height: 215px;
  margin: 15px;
  border: 1px solid #000;
  overflow-x: hidden;
  overflow-y: scroll;
  ul {
    line-height: 43px;
    li {
      border-bottom: 1px solid #000;
      padding-left: 6px;
    }
  }
  ul:last-child {
    border: none;
  }
}
.comp-list-box {
  ul :last-child {
    border-bottom: none;
  }
}
.company-name-a {
  cursor: pointer;
  display: block;
}
.company-name:hover {
  background-color: $background;
}
.active {
  background-color: $background;
}
.carousel {
  width: 100%;
}
.carousel-box {
  padding: 20px;
  box-sizing: border-box;
  a {
    font-size: 16px;
    font-weight: bold;
    margin-bottom:15px;
    text-decoration: none;
    color: #000;
  }
  p {
    font-size: 13px;
    line-height:  21px;
  }
}
.author-photo {
  width: 152px;
  height: 128px;
  margin-right:10px;
  float: left;
  position: relative;
}

.author,
.author-name,
.public,
.public-date {
  display: inline-block;
  font-size: 16px;

}
.author,
.public {
  font-weight: bold;
  font-style: italic;
}

.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  height: 201px !important;
}
.bx-viewport {
  height: 100% !important;
}
.comp-partners {
  border: 1px solid #dddddd;
  border-radius: 2px;
  margin-bottom: 30px;
  display: none;
  cursor: pointer;
  position: relative;
  h2 {
    background-color: #eeeeee;
    font-size: 1em;
    padding-left: 15px;
    line-height: 40px;
    border-bottom: 1px solid #dddddd;
  }
}
.comp-partners-box {
  box-sizing: border-box;
  padding: 45px 15px 0;
  max-height: 418px;
  ul {
    overflow: hidden;
    overflow-x: scroll;
    max-height: 370px;
    white-space:nowrap;
    li {
      margin-right: 20px;
    }
  }
  .circle {
    display: block;
    height: 98px;
    width: 98px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-bottom: 75px;
    position: relative;
    p {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .square {
      display: block;
      height:176px;
      width: 98px;
      border: 1px solid #000000;
      position: relative;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    }
  .square:before,
  .square:after {
    content: "";
    position: absolute;
    height: 75px;
    width:1px;
    background-color: #000000;
    top: -43%;
  }
  .square:before {
    left: 45px;
  }
  .square:after {
    right: 45px;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
}
.loader {
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
}
#piechart {
  width: 100%;
  min-height: 292px;
}

@media screen and (max-width: 1024px) {
  .flex-container {
    display: block;
  }
  .flex-child {
    width: 100%;
  }
  .author-name,
  .public-date{
    left: 13%;
  }
}
@media screen and (max-width: 500px) {
  .author-name,
  .public-date{
    left: 21%;
  }
  .author-photo {
    width: 122px;
    height: 98px;
  }
  .carousel-box h3 {
    margin-bottom: 5px;
  }
}



